@import "tailwindcss";


/* Add these styles at the end of your globals.css */
.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  padding: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px;
  color: black;
}

.swiper-button-disabled {
  opacity: 0.5;
}

@keyframes slowZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.animate-slowZoom {
  animation: slowZoom 20s ease-in-out infinite alternate;
}

.swiper-button-next,
.swiper-button-prev {
  color: #FACC15 !important;
  background: white;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px !important;
}

.swiper-pagination-bullet-active {
  background: #FACC15 !important;
}